$--dark-600: #282828;
$--dark-300: #444444;
$--dark-200: #515151;
$--dark-170: #686868;
$--dark-150: #777777;
$--dark-100: #767676;
$--white-600: #aaaaaa;
$--white-200: #dddddd;
$--white-150: #f8f8f8;
$--white-100: #ffffff;
$--yellow-400: #f1c40f;
$--yellow-200: #b9a16b;
$--yellow-100: #edead3;
